@charset "utf-8";
/**
* project : global.css
* version : 1.0
* last change : 2013.03.08
*
*/
@import url(global.css);
.container {width:auto; height:100%; padding:0 20px; }
img[src="http://icon.cnzz.com/img/pic1.gif"] { display:none;}
pre{ margin:20px 0;}
.linenums li{ list-style-type: decimal;}
h1{ font-size:26px; line-height: 40px;}
h2{ font-size:24px; line-height: 36px;}
h3{ font-size:20px; line-height: 32px;}
h4{ font-size:16px; line-height: 28px;}
h5{ font-size:14px; line-height: 24px;}
h6{ font-size:12px; line-height: 20px;}

.top-bar { position: fixed; _position: absolute; top: 0; z-index: 100; width: 100%; height: 30px; font: 14px/30px "Microsoft Yahei"; text-align: right; background-color: #000; opacity: .7; filter: alpha(opacity=70);}
.top-bar span { color: #f5f5f5;}
.top-bar .lab { margin-right: 5px; color: #f5f5f5;}
.top-bar .home { margin-right: 10px; color: #f5f5f5;}
.top-bar .top-bar-close { cursor: pointer; margin-right: 10px; padding: 0 8px; color: #fff; font-size: 14px; line-height: 30px; background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMTEvMjIvMTC90kbgAAAAZUlEQVQokbVRWwrAMAizYwfZTXaUerPRk2Yf1SI+PvrRgCBpQo02ALSDa0vtDB8RcaJheZsAoNUxwYZj4bpy1uBNQZwZrCmIAaShW9GHDH7mLBNV4nIRt/nslRUOw2n/rBmPX/oHrYLOAqbDwB0AAAAASUVORK5CYII=") no-repeat center;}
.top-bar .top-bar-close:hover { opacity: .8; filter: alpha(opacity=80);}