<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>三栏固定布局</title>
<meta name="description" content="">
<meta name="keywords" content="">
<style>
* { margin: 0; padding: 0;}
#header{ width: 980px; height: 90px; margin: 0 auto; background: #f60;}
#container{ width: 980px; margin: 0 auto;}
#aside{ float: left; width: 240px; background: #ccc;}
#content{ margin-left: 240px;}
#main{ float: left; width: 540px; background: pink;}
#content-aside{  float: left; width: 200px; background: orange; }
#footer{ width: 980px; height: 90px; margin: 0 auto; background: #08f;}
</style>
</head>
<body>
	<div id="wrapper">
		<div id="header">header</div>
		<div id="container" class="cls">
			<div id="aside">
				<div class="inner">
					aside
					<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				</div>
			</div>
			<div id="content" class="cls">
				<div id="main">
					<div class="inner">
						main
						<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
					</div>
				</div>
				<div id="content-aside">
					<div class="inner">
						content-aside
						<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
					</div>
				</div>			
			</div>
				
		</div>
		<div id="footer">footer</div>
	</div>
</body>
</html>