<config>
{
    "title": "固定宽度两栏布局（侧栏在左）"
}
</config>
<style>
* { margin: 0; padding: 0;}
#header{ width: 980px; height: 90px; margin: 0 auto; background: #f60;}
#body{ width: 980px; height: 500px; margin: 0 auto;}
#aside{ float: left; width: 240px; height: 500px; background: #ccc;}
#main{ float: left; width: 740px; height: 500px; background: orange;}
#footer{ width: 980px; height: 90px; margin: 0 auto; background: #08f;}
</style>

<div id="wrapper">
    <div id="header">header</div>
    <div id="body" class="clearfix">
        <div id="aside">
            <div class="inner">aside</div>
        </div>
        <div id="main">
            <div class="inner">main</div>
        </div>
    </div>
    <div id="footer">footer</div>
</div>