<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>左栏固定，右栏自适应布局</title>
<meta name="description" content="">
<meta name="keywords" content="">
<style>
* { margin: 0; padding: 0;}
#header{ width: 96%; height: 90px; margin: 0 auto; background: #f60;}
#container{ width: 96%; margin: 0 auto;}
#aside{ float: left; width: 240px; background: #ccc;}
#main{ margin-left: 240px; background: orange; }
#footer{ width: 96%; height: 90px; margin: 0 auto; background: #08f;}
</style>
</head>
<body>
	<div id="wrapper">
		<div id="header">header</div>
		<div id="container" class="cls">
			<div id="aside">
				<div class="inner">
					aside
					<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				</div>
			</div>
			<div id="main">
				<div class="inner">
					main
					<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				</div>
			</div>
		</div>
		<div id="footer">footer</div>
	</div>
</body>
</html>