@charset "utf-8";
/**
 * @fileOverview flappy bird
 * @authors @Bubblings
 */

$width: 360px;
$height: 480px;

.game {
	overflow: hidden;
	position: relative;
	width: $width;
	height: $height;
	margin: 10px auto;
	background-color: #DDD894;
}

.main {
	position: relative;
	height: 380px;
	background: #4EC0CA url(../img/bg.jpg) no-repeat center bottom;
}

.lawn {
	position: absolute;
	bottom: -30px;
	left: 0;
	width: $width*2;
	height: 30px;
	background: url(../img/lawn.jpg) repeat-x;
}